
.line-after-green-thick{
    position: relative;
}
.line-after-green-thick::after{
    
        content: "";
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -15px;
        left: 0;
        background-color: #75d481;
}


.line-after-blue-thick{
    position: relative;
}
.line-after-blue-thick::after{
    
        content: "";
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -15px;
        left: 0;
        background-color: #506ec6;
}

.line-after-blue-default {
    position: relative;
}
.line-after-blue-default::after {
    
    content: "";
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: #506ec6;
}

.line-after-green-default {
    position: relative;
}
.line-after-green-default::after {
    
    content: "";
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: #75d481;
}

.line-after-green-default-centered {
    position: relative;
}
.line-after-green-default-centered::after {
    
    content: "";
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -35px;
    background-color: #75d481;
}
.line-after-blue-default-centered {
    position: relative;
}
.line-after-blue-default-centered::after {
    
    content: "";
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -35px;
    background-color: #506ec6;
}