html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
 z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  background-color: #fff;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.6); 
  box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.6);
}

.header__fixed {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  position: static;
  
  
}

.header__fixed.scrolled {
  top: 0;
  position: fixed;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.6); 
  box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.6);
}

.header__fixed.animate-top {
  top: -100px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header .container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 5px 10px;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 90px;
  min-height: 80px;
}

.custom-logo-link {
  height: 55px;
  z-index: 50;
}

.custom-logo-link img {
  height: 40px;
  max-width: 255px;
}

.header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

.header .header__list li {
  margin: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.header__list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list1 a {
  color: #535353;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__list1 a:hover {
  color: #506ec6;
}

.header .current_page_item {
  position: relative;
}

.header .header__search{
  margin: 0 0px 0 20px;
  z-index: 2;
}
.header .header__search img{
  width: 30px;
  height: 30px;
}
.header__search__content{
  position: absolute;
  top: -100px;
  left: 50%;
  background-color: #fff;
  padding: 20px 30px;
  transition: all 0.4s ease 0.2s;
  
}
.header__search__content.active{
  top: 100px;
  transition: all 0.4s ease 0.2s;
 
  
}
.header__search__container{}
.header__searchtext{
  background-color: #c7c7c7;
  padding: 5px 20px;
  margin: 5px 0;
  border-radius: 25px;
}
.header__searchbutton{
  background-color: #75d481;
  color: #fff;
  font-size: 16;
  font-weight: 600;
  border-radius: 25px;
  padding: 5px 10px;
}
/* Sub menu styles*/
.header .menu-item-has-children{
  position: relative;
 
}

.sub-menu{
  position: absolute;
  display: none;
  left: 0;
  top: 10px;
  padding: 10px 0;
  width: 150px;
}
.header .sub-menu li{
  background-color: rgb(250, 250, 250);
  padding: 5px;
  margin: 0;
}
.header .sub-menu li:first-of-type{
  background-color: rgb(250, 250, 250);
  border-top: 3px solid #75d481;
  padding: 5px;
  margin: 0;
}
.header .current_page_item::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
  background-color: #75d481;
}
.header .sub-menu .current_page_item::after{
  display: none;
}
.header .sub-menu .current_page_item a{
  color: #75d481;
}

.header__socialmenu .header__social {
  margin: 0 5px;
}

.header__socialmenu img {
  height: 15px;
}

.footer {
  background: #506ec6;
  position: relative;
}

.footer .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.footer .footer__section {
  width: 100%;
}

.footer .footer__section1 {
  min-height: 120px;
  position: relative;
  top: -50px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.76);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.76);

}

.footer .footer__section1 .section__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.footer .footer__section1 .section__container .section__grid {
  display: grid;
  grid-template-columns: 1fr 3fr 132px;
  grid-column-gap: 100px;
  min-height: 120px;
}

.footer .footer__section1 .section__container .grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .footer__section1 .section__container .custom-logo-link{
  z-index: 0;
}
.footer .footer__section1 .section__container .custom-logo-link img {
  height: 40px;
  position: relative;
  
  top: -2px;
}

.footer .footer__section1 .section__container .footer__text {
  font-size: 28px;
  color: #506ec6;
}

.footer .footer__section1 .section__container .footer__text span {
  color: #75d481;
}

.footer .footer__section1 .section__container .footer__social img {
  width: 20px;
  margin: 0 5px;
}

.footer .footer__section2 {
  margin-bottom: 40px;
  position: relative;
}

.footer .footer__section2 .section__container .section__grid {
  display: grid;
  grid-template-columns: 100px 2fr 1fr;
  grid-column-gap: 30px;
}

.footer .footer__section2 .section__container .footer__list1 li {
  margin-bottom: 20px;
}

.footer .footer__section2 .section__container .footer__list1 a {
  color: #fff;
  font-weight: 600;
  line-height: 20px;
  -webkit-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
}

.footer .footer__section2 .section__container .footer__list1 a:hover {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
  line-height: 20px;
}

.footer .footer__section2 .section__container .footer__list2 li {
  display: inline-block;
  margin: 0 20px 20px 0;
}

.footer .footer__section2 .section__container .footer__list2 a {
  color: #fff;
  line-height: 20px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer .footer__section2 .section__container .footer__list2 a:hover {
  color: rgba(255, 255, 255, 0.4);
}

.footer .footer__section2 .section__container .footer__pnumber {
  position: relative;
  font-size: 28px;
  color: #75d481;
  text-align: center;
  margin: 0 0 50px 0;
}

.footer .footer__section2 .section__container .footer__pnumber::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -20px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .footer__section2 .section__container .footer__callblock {
  background: url("../img/phone_icon.webp") 0 0 no-repeat;
  background-size: 45px;
  padding: 0 0 0 70px;
  min-height: 60px;
}

.footer .footer__section2 .section__container .callblock__header {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 10px 0;
}

.footer .footer__section2 .section__container .callblock__text {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

.footer .footer__section2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -20px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .footer__section3 .section__container {
  padding: 0px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .footer__section3 .section__container .footer__copy {
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-weight: 600;
}

.footer .footer__section3 .section__container .footer_gotop {
  margin: 0 0 0 30px;
  position: relative;
  color: #fff;
  padding: 0 20px 0 0;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: none;
}
.footer .footer__section3 .section__container .footer_gotop:focus {
  margin: 0 0 0 30px;
  position: relative;
  color: #fff;
  padding: 0 20px 0 0;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: none;
}

.footer .footer__section3 .section__container .footer_gotop::after {
  content: ">";
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: #c7c7c7;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer .footer__section3 .section__container .footer_gotop::before {
  content: ">";
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  display: block;
  position: absolute;
  right: 0;
  top: -7px;
  color: #c7c7c7;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer .footer__section3 .section__container .footer_gotop:hover {
  color: rgba(255, 255, 255, 0.4);
}

.footer .footer__section3 .section__container .footer_gotop:hover::before {
  color: rgba(255, 255, 255, 0.4);
}

.footer .footer__section3 .section__container .footer_gotop:hover::after {
  color: rgba(255, 255, 255, 0.4);
}



@media (max-width: 1100px) {
  .footer .footer__section1 .section__container .section__grid {
    grid-column-gap: 30px;
  }

  .footer .footer__section1 .section__container .grid__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer .footer__section2 .section__container .section__grid {
    grid-template-columns: 100px 1fr;
    grid-template-areas: "first second" "third third";
  }

  .footer .footer__section2 .section__container .grid__item1 {
    grid-area: first;
  }

  .footer .footer__section2 .section__container .grid__item2 {
    grid-area: second;
  }

  .footer .footer__section2 .section__container .grid__item3 {
    grid-area: third;
  }
}
@media (min-width:1024px){
  .header .menu-item-has-children:hover .sub-menu{
    display: block;
  }
}
@media (max-width: 1024px) {
  .header__fixed {
    position: fixed;
    background-color: #fff;
  }

  .header__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }

  .custom-logo-link {
    height: 45px;
    margin-left: 25px;
  }

  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 35px;
    height: 30px;
  }

  .header__burger::before {
    content: "";
    background-color: #506ec6;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::after {
    content: "";
    background-color: #506ec6;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger span {
    position: absolute;
    background-color: #506ec6;
    left: 0;
    width: 100%;
    height: 3px;
    top: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 12px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 15px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .header__search__content{
    left: 5px;
  }
  .header__menu {
    left: -500px;
    top: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 350px;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    padding: 130px 0 0 0;
    -webkit-box-shadow: 4px 0px 15px -3px rgba(0, 0, 0, 0.76);
    box-shadow: 4px 0px 15px -3px rgba(0, 0, 0, 0.76);
    -webkit-transition: left 0.8s ease 0s;
    -o-transition: left 0.8s ease 0s;
    transition: left 0.8s ease 0s;
  }

  .header__menu.active {
    overflow: auto;
    left: 0;
    top: 0px;
    -webkit-transition: left 0.8s ease 0s;
    -o-transition: left 0.8s ease 0s;
    transition: left 0.8s ease 0s;
    padding: 130px 0 0 0;
  }

  .header__menu.active li {
    margin: 10px auto;
  }

  .header__socialmenu {
    position: fixed;
    left: -500px;
    top: 100px;
    z-index: 1;
    -webkit-transition: left 0.8s ease 0s;
    -o-transition: left 0.8s ease 0s;
    transition: left 0.8s ease 0s;
  }

  .header__socialmenu.active {
    position: fixed;
    left: 120px;
    z-index: 1;
  }

  .header .header__list {
    display: block;
  }

  .header .header__list li {
    margin: 0;
  }

  .header .header__list1 {
    display: block;
  }

  .header .header__list1 li {
    text-align: center;
    margin-top: 20px;
  }

  .header .current_page_item::after {
    content: "";
    display: none;
  }

  .header .current_page_item a {
    color: #75d481;
  }
  
  .header .menu-item-has-children .sub-menu {
      position: relative;
      margin:0;
      text-align:center ;
      width: 100%;
  }
  .header .menu-item-has-children .sub-menu li{
    margin: 10px;
    background-color: #fff;

  }
  .header .menu-item-has-children .sub-menu li:first-of-type{
    border-top: none;
  }
  .header .menu-item-has-children .sub-menu.active{
    display: block;
    margin: 0;
    
  }
  .header .menu-item-has-children .arrow_right{
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        background-color: #75d481;
        right: 30px;
        top: 8px;
        transition: all 0.3s;
        transform: rotate(-45deg);
  }
  .header .menu-item-has-children .arrow_left{
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #75d481;
    right: 36px;
    top: 8px;
    transition: all 0.3s;
    transform: rotate(45deg);
}
.header .menu-item-has-children .arrow_right.clicked{
  content: '';
 
  transform: rotate(45deg);
}
.header .menu-item-has-children .arrow_left.clicked{
content: '';

transform: rotate(-45deg);
}
}

@media (max-width:420px){
  .custom-logo-link {
    height: 30px;
    z-index: 50;
  }
  
  .custom-logo-link img {
    height: auto;
    max-width: 180px;
  }
}

@media (max-width: 950px) {
  .footer .footer__section1 .section__container .section__grid {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }

  .footer .footer__section1 .section__container .grid__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}